{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class = "display-flex">
<div class="home-div1">  
  <div class = "parent-div">
    <img
    class="homeImg"
    src="https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt=""
  > </img>
  <div class="child-div">
    <a href="/my-notes"> <h1 id="my-notes-div">My notes</h1> </a>
</div>
</div>

<div class = "parent-div">
    <img
    class="homeImg"
    src="https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt=""
  > </img>
  <div class="child-div">
    <a href="/all-notes"><h1 id="all-notes-div">All notes</h1> </a>    
</div>
</div>
</div>
<div class="home-div2">  
    <div class = "parent-div">
      <img
      class="homeImg"
      src="https://images.pexels.com/photos/628281/pexels-photo-628281.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt=""
    > </img>
    <div class="child-div">
        <a href="/league-form"><h1 id="my-league-div">League</h1> </a>
      
  </div>
  </div>
  
  <div class = "parent-div">
      <img
      class="homeImg"
      src="https://images.pexels.com/photos/1533720/pexels-photo-1533720.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt=""
    > </img>
    <div class="child-div">
        <a href="/fortnite-form"><h1 id="my-fortnite-div">Fortnite</h1> </a>
  </div>
  </div>
  </div>
{% endblock %}
