{% extends "base.html" %} {% block title %}League form{% endblock %} {% block
content %}
<a href="match/{{user.summoner_name}}"
  ><h1 id="my-recent-game">My most recent game</h1></a
>
<br />
<div class="suggested-names">
  <h2>Suggested recent games:</h2>
  <a href="match/Smelly Sphincter"><h4>Smelly Sphincter</h4></a>
  <a href="match/Smelly Sphincter"><h4>Savory Sphincter</h4></a>
  <a href="match/cjk159"><h4>cjk159</h4></a>
  <a href="match/obob12"><h4>obob12</h4></a>
  <a href="match/MMOHAN1"><h4>MMOHAN1</h4></a>
  <a href="match/OriginStory1"><h4>OriginStory1</h4></a>
</div>

<form method="POST">
  <h2>Get the most recent match stats for a summoner</h2>
  <textarea
    name="summoner"
    id="summonerName"
    class="form-control"
    placeholder="Summoner Name"
  ></textarea>
  <br />
  <div ah4gn="center">
    <button type="submit" class="btn btn-primary">Get stats</button>
  </div>
</form>
{% endblock %}
