{% extends "base.html" %} {% block title %}Testing{% endblock %} {% block
content %}

<h2>Showing stats for the most recent LoL game for: Smelly Sphincter</h1>
<br />

{% for participant in participants %}

<h3>{{ participant['summonerName'] }}:</h3>
<h5>Plot data: <img class = "plot" src = "data:image/png;base64, {{ participant['plot_data'] }}"></h5>
<h5>Gold earned: {{ participant['goldEarned'] }}</h5>
<h5>Physical Damage: {{ participant['physicalDamageDealt'] }}</h5>
<h5>Magic Damage: {{ participant['magicDamageDealt'] }}</h5>
<h5>True damage: {{ participant['trueDamageDealt'] }}</h5>
<h5>Total damage: {{ participant['totalDamageDealt'] }}</h5>

<br /><br /><br />
{% endfor %} {% endblock %}
